@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "_modal.css";
@import "_mensajes.css";


.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

* {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    --color_fondo1 :#FFF;
    --color_fondo :#305D87;
    --color-bordes : #c2c2c2;
    --color-sombra: #000000;
    --sombras-menu: #2f2f2f;
    --color-fondo2: gold;
  }

a{
  color: var(--color-sombra);
  text-decoration: none;
  display: block;
}

ul, li {
  list-style: none;
}

.menu_selected {
  background: var(--color_fondo1);
  box-shadow: 2px 3px 5px var(--sombras-menu);
  font-weight: bold;
  letter-spacing: 1.5px;

  a {
    color: var(--color-sombra) !important;
  }
  
}

.texto_centro {
  text-align: center;
}

.padding20left {
  padding-left: 20px;
}

.oculto{
  display: none;
}

section{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    max-width: 1920px;
    margin: 1rem auto;
    gap: 10px;

    >div{
        border-radius: 8px;
    }

    .logo{
        background: var(--color_fondo1);
        grid-column: 1/2;
        height: 6rem;

        img {
            width: 100%;
            display: block;
        }
    }

    .header{
        background:var(--color_fondo);
        grid-column: 2/13;
        height: 6rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem;
        gap: 1rem;

        .text_user{
            line-height: 1.4rem;

            p:first-child {
                text-shadow: 2px 3px 5px var(--color-sombra);
            }

            p:not(:first-child){
                font-size: .8rem;
            }
        }

        .img_user{
            background-image: url('../assets/foto.jpg');
            width: 4rem;
            height: 4rem;
            border-radius:50%;
            background-repeat: no-repeat;
            background-position: 50%;
            border-radius: 50%;
            background-size: 100% 100%;

            img {
                width: 100%;
                display: block;
            }
        }
    }

    .menu{
        background: var(--color_fondo);
        grid-column: 1/3;
        height: 85vh;
        padding: 2rem;
        line-height: 4rem;

        ul {
          li {
            padding-left: 1rem;
            width: 130%;
            border-radius: 8px 0 0 8px ;

            a{
              color: #fff;
            }
          }
        }
    }

    .loader{
        background: var(--color_fondo1);
        border: 4px solid var(--color-bordes);
        grid-column: 3/13;
        padding: .5rem;
        height: auto;
        overflow: hidden;
    }

    .separator {
      grid-column: 1/13;
      
      .titulo{
        display: flex;
        justify-content: space-between;
        color: var(--color_fondo1);
        font-weight: bold;
        background: var(--color_fondo);
        padding: 3px;

        .btnOpciones {
          display: flex;
          gap: 1rem;
          
          a {
            color: var(--color_fondo1);
            font-size: 1.5rem;
            text-align: center;

            p{
              font-size: 0.7rem;
            }
          }
        }
      }

      .cuerpo{
        border: 1px solid var(--color-bordes);
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap:10px;

        label{
          display: inline-block;
          font-weight: bold;
          font-size: 0.7rem;
        }

        input,select,textarea{
          width: 100%;
          padding-left: 10px;
          outline: none;
          border: 1px solid var(--color-bordes);
          height: 2rem;
          border-radius: 4px;
        }

        textarea{
          resize: none;
          font-size: .8rem !important;
        }

        .opciones{
          display: flex;

          button{
            width: 100%;
            height: 100%;
          }

        }

        div{
          display: grid;
          grid-template-columns: 5.5rem 1fr;
          padding: 3px;
          gap: 5px;
          align-items: center;
        }

        .una_columnas{
          grid-column: span 1;
          height: 2rem;
        }

        .dos_columnas{
          grid-column: span 2;
          height: 2rem;
        }

        .tres_columnas{
          grid-column: span 3;
          height: 2rem;
        }

        .cuatro_columnas{
          grid-column: span 4;
          height: 2rem;
        }

        .seis_columnas{
          grid-column: span 6;
          height: 2rem;
        }

        .ocho_columnas{
          grid-column: span 8;
          height: 2rem;
        }

        .columnas_dias{
          grid-template-columns: repeat(31, 1fr);
          margin-bottom: 1rem;

          p{
            font-size: .7rem;
            margin-bottom: 5px;
          }

          input{
            width: 100%;
            outline: none;
            border: 1px solid var(--color-bordes);
            height: 20px;
            font-size: .6rem;
            padding-left: 4px;
          }
        }

        .columnas_totales {
          grid-template-columns: repeat(14, 1fr);

          input{
            width: 100%;
            outline: none;
            border: 1px solid var(--color-bordes);
            height: 25px;
            font-size: .6rem;
            padding-left: 4px;
          }
        }

        .valorpuntaje, .totales{
          display: flex;
          flex-direction: column;

          label{
            width: 100%;
            text-align: center;
            height: 100%;
            display: block;
          }

          input[type="text"]{
            text-align: center;
            text-transform: uppercase;
          }
        }
      }

      .cuerpo_tabla{
        width: 100%;
        grid-column: 1/13;
        height: 65vh;
        overflow: auto;

        table {
          width: 100%;
          margin-top: 10px;
          border-collapse: collapse;

          thead {
            position: sticky;
            top: 0;
            z-index: 10;
            background: var(--color-sombra);


            th{
              background-color:var(--color-sombra);
              color: var(--color_fondo1);
              line-height: 1.5rem;
            }
          }
          
          tr,td,th{
            border: 1px dotted var(--color-bordes); 
            cursor: default;
          }

          tbody{
            tr{
              background-color: var(--color_fondo1);

              &:hover {
                background-color: var(--color-fondo2);
              }
            }

            input{
              width: 100%;
              height: 1.5rem;
              border: none;
              padding-left: 20px;
              background-color: transparent;
            }
          }
         
        }
      }
    }
}

#toggleMenu{
  display: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
@media only screen and (max-width: 1670px) {
  section{
    
    section{
      overflow: scroll;
      .separator:nth-child(1),
      .separator:nth-child(2){
        .cuerpo{
          display: flex;
          flex-wrap: wrap;
        }
        [class*="_columnas"] {
          /* Estilos para todas las clases que contengan '_columnas' */
          padding: 10px;
          flex: auto;
        }
        
      }
      .separator:nth-child(4){
        .cuerpo{
          display: flex;
          flex-wrap: wrap;
          .columnas_dias{
            height: auto;
          }
          .columnas_totales{
            height: auto;
          }
        }
      }
      
    /*   .separator:nth-child(3){
        .cuerpo{
  
        }
        
      } */
    }
    .loader{
      overflow: scroll;
    }
  }
  
}

@media only screen and (max-width: 1150px) {
  #toggleMenu{
    display: block;
  }
  section {
    .menu{
      padding: 0;
      position: absolute;
      height: 60px;
      z-index: 100;
      top: 14%;
      width: 40px;
      text-align: center;
      #menuList{
        position: absolute;
        left: calc((70px - 100vw));
      }
      
    }
    .menu.active{
      width: 100%;
      height: 100vh;
      text-align: start;
      padding-left: 1rem;
      #menuList{
        left: 70px
      }
    }
    section {
      .separator:nth-child(3){
        display: none;
      }
      .separator:nth-child(4){
        .cuerpo{
          .columnas_dias{
            grid-template-columns: repeat(16, 1fr);
            height: auto;
          }
          .columnas_totales{
            height: auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 590px) {
  section{
    
    section{
      .separator:nth-child(4){
        .cuerpo{
          .columnas_dias{
            grid-template-columns: repeat(7, 1fr);
          }
          .columnas_totales{
            grid-template-columns: repeat(4, 1fr);
          }
        }
      }
    }
  }
}